<h1 class="title">Week</h1>
<div class="row">
    <div class="col-md-10">
        <table class="day-table">
            <thead>
                <tr>
                    <td></td>
                    <td ng-repeat="day in shiftsInDays.days">{{day}}</td>
                </tr>
            </thead>
            <tr ng-repeat="employ in shiftsInDays.employs">
                <td class="emp-name">{{employ.first_name}} {{employ.last_name}}
                </td>
                <td ng-repeat="shift in shiftsInDays.shifts track by $index">
                    <div ng-if="isEmployeeInShift(employ.id, shift.employees)">
                        {{shift.name}}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <div class="btn-wr">
            <a ng-href="#/day">
                <div class="row btn btn-primary">
                    change to day view
                </div>
            </a>
        </div>
    </div>
</div>
